# Ignore Python environment and Flask files
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Ignore React build files
code-analyzer-frontend/node_modules/
code-analyzer-frontend/.env
code-analyzer-frontend/build/

# Ignore VS Code and system files
.vscode/
.DS_Store
Thumbs.db
